@font-face {
    font-family: 'SFProMed';
    src: url('public/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for cross-browser compatibility */
}

@font-face {
    font-family: 'SFProReg';
    src: url('public/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for cross-browser compatibility */
}


@font-face {
    font-family: 'SFProBold';
    src: url('public/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for cross-browser compatibility */
}


* {
    transition: background-color .8s ease;
    // font-family: 'SFProReg', sans-serif;
    // letter-spacing: 0.3px;
    // line-height: 29px;
}

/* Apply animation to all elements */
.transition-ease-in {
    opacity: 0;
    transform: translateY(20px);
    animation: easeInAnimation 0.6s ease-in forwards;
}

@keyframes easeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mainContainer {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.colContainer {
    display: flex;
    flex-direction: column;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.rowContainerPorto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.main {
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
}

.iconNavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.iconNavbarList {
    display: flex;
    gap: 20px;
}

.iconNavbar {
    width: 35px;
    height: 35px;
    color: black;
    transition: .3s ease;
}

.iconNavbar:hover {
    color: #4267B2;
    transition: .3s ease;
    transform: scale(1.1);
}

.lblMode {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profileIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.profileIntro h1 {
    font-size: 60px;
    font-family: 'SFProBold', 'sans-serif';
}

.profileIntro h3 {
    font-size: 22px;
    font-family: 'SFProReg', 'sans-serif';
}

.profileIntro h4 {
    font-size: 25px;
    font-family: 'SFProMed', 'sans-serif';
}

#portfolio{
    font-family: 'SFProBold', 'sans-serif';
}

.profilePic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.modeIcon {
    position: absolute;
    font-size: 2em;
    color: black;
    transition: transform 1s ease;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
    /* Adding a smooth transition effect */
}

.rotate90 {
    transform: rotate(360deg) scale(0);
    transition-delay: .0s;
}

.projectContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    align-items: stretch;
    padding: 35px;
    margin-bottom: 35px;
}

.projectBox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    gap: 15px;
    flex-direction: column;
    align-items: center;
    width: 300px;
    transition: all .3s ease;
    text-align: justify;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
    cursor: pointer;
}

.projectBox:hover .overlay {
    height: 100%;
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4267B2;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 25px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.projectBox::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background-color: linear-gradient(315deg, #00ccff, #d400d4);
    transition: .5s;
    animation: animate 4s linear infinite;
}

.genreBox {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 25px;
    padding: 8px;
    background-color: #4267B2;
    ;
    font-weight: bold;
    color: white;
}

.genreBox2 {
    border-radius: 25px;
    padding: 8px;
    background-color: #4267B2;
    ;
    font-weight: bold;
    color: white;
}

.projectBox h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    width: 43%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color: white;
    border: 4px solid #4267B2;
    top: 82px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.leftContainer {

}

/* Place the container to the right */
.rightContainer {
    left: 50%;
}

// /* Add arrows to the left container (pointing right) */
// .leftContainer::before {
//     content: " ";
//     height: 0;
//     position: absolute;
//     top: 74px;
//     width: 0;
//     z-index: 1;
//     right: 20px;
//     border: medium solid white;
//     border-width: 25px 0 25px 25px;
//     border-color: transparent transparent transparent white;
// }

// /* Add arrows to the right container (pointing left) */
// .rightContainer::before {
//     content: " ";
//     height: 0;
//     position: absolute;
//     top: 74px;
//     width: 0;
//     z-index: 1;
//     left: 22px;
//     border: medium solid white;
//     border-width: 25px 25px 25px 0;
//     border-color: transparent white transparent transparent;
// }

/* Fix the circle for containers on the right side */
.rightContainer::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: rgb(238, 238, 238);
    position: relative;
    border-radius: 10px;
}

.content:hover {
    transition: .3s ease;
}


.certificateImage {
    width: 160px;
    height: 110px;
    border-radius: 10px;
}

.certificateImageFull {
    width: 85%;
    height: 90%;
    border-radius: 10px;
}

.certificateBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    text-align: justify;
    border-radius: 10px;
    margin: 1px;
}

.certificateBox:hover .overlayCertificate {
    height: 100%;
}

.overlayCertificate {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

.certificateContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overlayFullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, .8);
    flex-direction: column;
    transition: background-color 0.5s ease;
}

.closeBtn {
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.closeBtn:hover {
    color: rgb(193, 193, 193);
    transition: .3s ease;
}



@media screen and (max-width: 1550px) {
    .profileIntro {
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 95vh;
    }

    .container::after {
        right: -0.5px;
    }
}

@media screen and (max-width: 910px) {
    .main {
        margin-left: 140px;
        margin-right: 140px;
    }

    .timeline::after {
        left: 2%;
    }

    .container::after {
        left: -0.5px;
    }

    .container {
        width: 100%;
    }

    .rightContainer {
        left: 0;
    }
}


@media screen and (max-width: 500px) {
    .main {
        margin-left: 25px;
        margin-right: 25px;
    }

    .container {
        width: 65%;
        padding: 10px 50px;
        margin: 0px;
    }

    .timeline::after {
        left: 4%;
    }

    .profileIntro h1 {
        font-size: 48px;
    }

    .profileIntro {
        text-align: center;
    }
}


// /* Media queries - Responsive timeline on screens less than 600px wide */
// @media screen and (max-width: 800px) {

//     /* Place the timelime to the left */
//     .timeline::after {
//         left: 50px;
//     }

//     /* Full-width containers */
//     .container {
//         width: 100%;
//         padding-left: 70px;
//         padding-right: 25px;
//     }

//     /* Make sure that all arrows are pointing leftwards */
//     .container::before {
//         left: 60px;
//         border: medium solid white;
//         border-width: 10px 10px 10px 0;
//         border-color: transparent white transparent transparent;
//     }

//     /* Make sure all circles are at the same spot */
//     .leftContainer::after,
//     .rightContainer::after {
//         left: 15px;
//     }

//     /* Make all right containers behave like the left ones */
//     .rightContainer {
//         left: 0%;
//     }

//     .certificateContainer {
//         justify-content: center;
//     }

//     .certificateImageFull {
//         width: 70%;
//         height: 70%;
//     }
// }